[Desktop Entry]
Categories=Office;ProjectManagement;
Comment=Track job applications, deadlines, and follow-ups
Exec=app
Icon=app
StartupWMClass=JobTracker
Name=Job Tracker
Terminal=false
Type=Application
